body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f5f5f5; /* Light gray background */
    color: #333; /* Text color */
}

.rit-logo {
    position: absolute;
    top: 20px;
    left: 20px;
    max-width: 100px; /* Adjust the size of the logo */
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column-container {
    margin-bottom: 20px;
}

.column {
    flex: 1;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow */
}

.checkbox-container {
    margin-left: 220px; /* Add a left margin */
}

h1 {
    text-align: center;
    color: #fe7700; /* RIT orange */
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    color: #666; /* Label color */
}

button {
    background-color: #ff7700; /* RIT orange */
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition */
}

.small-btn {
    padding: 5px 10px;
    font-size: 12px;
    margin: auto;
}

button:hover {
    background-color: #ff7b00; /* Darker orange on hover */
}

input[type="text"],
select {
    width: calc(100% - 22px); /* Full width - padding */
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow */
}

#rosterTable {
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

#selctionMsg,
#radioMsg {
    min-height: 20px; /* Adjust the height as needed */
}

.label-color {
    color: #ff7f0f; /* RIT orange */
    font-size: larger;
}

#rosterTable tbody tr:not(:last-child) td {
    border-bottom: 1px solid #ddd; /* Add a border-bottom to all rows except the last one */
}

.reload-button {
    position: absolute;
    top: 20px;
    right: 20px;
}

.disabled-container {
    opacity: 0.5; /* Dim the container */
    pointer-events: none; /* Disable pointer events */
}

hr {
    border: none; /* Remove default border */
    border-top: 3px double #686868; /* Add double border on the top */
    margin-top: 60px; /* Adjust the margin as needed */
}

footer {
    background-color: #e3e3e3; /* Gray background color */
    padding: 10px;
}

footer p {
    color: #7e7e7e; /* Text color */
}

footer hr {
    border: none;
    border-top: 1px solid #ddd; /* Horizontal line */
    margin: 10px 0; /* Add some margin for spacing */
}
